<%+header%>
<link rel='stylesheet' href='/luci-static/netping/owrt_web_pingers.css'>
<script src='/luci-static/netping/owrt_web_pingers.js'></script>
<%
local config, title = "pingerconf", "Whatcher"
cursor_pingers = luci.model.uci.cursor()

--------------- Excluding constants --------------------
event_list = cursor_pingers:get_list(config, "globals", "event")
maxpingers = cursor_pingers:get(config, "globals","maxpingers")
default_pinger_name = cursor_pingers:get(config, "rule_prototype","name")
default_pinger_description = cursor_pingers:get(config, "rule_prototype","description")
default_pinger_state = cursor_pingers:get(config, "rule_prototype","state")
default_pinger_expression = cursor_pingers:get(config, "rule_prototype","expression")
default_pinger_event_true = cursor_pingers:get(config, "rule_prototype","event_true")
default_pinger_event_false = cursor_pingers:get(config, "rule_prototype","event_false")
--------------- End of excluding constants --------------------

------------- Commit changes -------------
if ((luci.http.formvalue("pinger_for_change_commit")~="0") and (luci.http.formvalue("pinger_for_change_commit")~=nil)) then
	commit_pinger = luci.http.formvalue("pinger_for_change_commit")
	cursor_pingers:set(config, commit_pinger, "name", luci.http.formvalue("change_name"))
	cursor_pingers:set(config, commit_pinger, "description", luci.http.formvalue("change_description"))
	cursor_pingers:set(config, commit_pinger, "expression", luci.http.formvalue("change_expression"))
	cursor_pingers:set(config, commit_pinger, "event_true", luci.http.formvalue("change_event_true"))
	cursor_pingers:set(config, commit_pinger, "event_false", luci.http.formvalue("change_event_false"))

    elseif (luci.http.formvalue("pinger_for_delete")~="0") then
	cursor_pingers:delete(config, luci.http.formvalue("pinger_for_delete"))
    elseif (luci.http.formvalue("pinger_for_add")=="1") then
	add_pinger = cursor_pingers:add(config, "rule")
	cursor_pingers:set(config, add_pinger, "name", default_pinger_name)
	cursor_pingers:set(config, add_pinger, "description", "")
	cursor_pingers:set(config, add_pinger, "state", default_pinger_state)
	cursor_pingers:set(config, add_pinger, "expression", default_pinger_expression)
	cursor_pingers:set(config, add_pinger, "event_true", default_pinger_event_true)
	cursor_pingers:set(config, add_pinger, "event_false", default_pinger_event_false)
    else
	local key, val
	pingers_state_value = {}
        for key, val in pairs(luci.http.formvalue()) do
		pingers_state_value[key] = tonumber((type(val)=="table") and (table.concat(val)) or val)
		cursor_pingers:set(config, key, "state", tonumber((type(val)=="table") and (table.concat(val)) or val))
        end
end
	cursor_pingers:save()
	cursor_pingers:commit(config)
	string_for_ubus = "ubus send commit '{"..' "config" : "pingerconf" '.."}'"
	luci.sys.call(string_for_ubus)
------------- End of commit changes -------------
%>

<h2><%:Rules for whatcher%></h2> 
<h3><%:Attention! Max pingers and rules number for processing:%> <%=maxpingers%></h3> 
<div class='pinger' style='margin-bottom: 5px;'><div class='pinger_checkbox'><%:On/Off%></div>
<div class='pinger_name'><%:Name%></div><div class='status'><%:Status%></div>
<div class='pinger_description'><%:Description%></div></div>
<form id="pinger_checkbox_form" name="pinger_checkbox_form" method="post" action="./rules">
<%

cursor_pingers:foreach(config, "rule", function(s)
if s[".name"] == 'rule_prototype' then return end
	luci.http.write("<div class='pinger'><div class='pinger_checkbox'><input type='hidden' ".." value='0' id='"..s[".name"].."' name='"..s[".name"].."' />")
	luci.http.write("<input type='checkbox' "..((s.state)=='1' and 'checked' or '').." value='1' id='"..s[".name"].."' name='"..s[".name"].."' onclick=document.getElementById('pinger_checkbox_form').submit(); /></div>")
	luci.http.write("<div class='pinger_name'>"..s.name.."</div><div class='status' id='status_"..s.name.."' name='status_"..s[".name"].."'></div>")
	luci.http.write("<div class='pinger_description'>"..((s.description~=nil) and (s.description) or "").."</div>") %>

		<div class='settings'><input type='button' value='<%:Settings%>' class='pinger_button' onclick='pinger_settings("<%=s[".name"]%>")' /></div>
		<div class='delete'><input type='button' value='<%:Delete%>' class='pinger_button' onclick='pinger_delete("<%=s[".name"]%>")' /></div></div> 
<%  end) %>
		<div class='pinger'><div class='add_pinger'><input type='button' value='<%:Add rule%>' class='pinger_button' onclick='pinger_add()' /></div></div>
	<input type="hidden" id="pinger_for_delete" name="pinger_for_delete" value="0" />
	<input type="hidden" id="pinger_for_change" name="pinger_for_change" value="0" />
	<input type="hidden" id="pinger_for_add" name="pinger_for_add" value="0" />
</form>

    <% if ((luci.http.formvalue("pinger_for_change")~="0") and (luci.http.formvalue("pinger_for_change")~=nil)) then
    pinger_for_change = luci.http.formvalue("pinger_for_change")
    change_pinger_name = cursor_pingers:get(config, pinger_for_change,"name")
    change_pinger_description = cursor_pingers:get(config, pinger_for_change,"description")
    change_pinger_expression = cursor_pingers:get(config, pinger_for_change,"expression")
    change_pinger_event_true = cursor_pingers:get(config, pinger_for_change,"event_true")
    change_pinger_event_false = cursor_pingers:get(config, pinger_for_change,"event_false") %>

<div id='div_gray_background' class='gray_background'><div id='div_settings_window' class='settings_window'>
<form id="pinger_change_form" name="pinger_change_form" method="post" action="./rules">
    <label class="change_field">Name</label><div class="change_field"><input name="change_name" class="change_field" type="Value" value="<%=change_pinger_name%>"/></div><br>
    <label class="change_field">Description</label><div class="change_field"><input name="change_description" class="change_field" type="Value" value="<%=change_pinger_description%>" /></div><br>
    <label class="change_field">Event true</label><div class="change_field">
    <select name="change_event_true" class="change_field" type="Value" value="<%=change_pinger_event_true%>">
	<% for i=1,#event_list do %>
	    <option value='<%=event_list[i]%>' <%=(change_pinger_event_true==event_list[i] and 'selected' or '')%>><%=event_list[i]%></option>
	<% end %>
    </select></div><br>

    <label class="change_field">Event false</label><div class="change_field">
    <select name="change_event_false" class="change_field" type="Value" value="<%=change_pinger_event_false%>">
	<% for i=1,#event_list do %>
	    <option value='<%=event_list[i]%>' <%=(change_pinger_event_false==event_list[i] and 'selected' or '')%>><%=event_list[i]%></option>
	<% end %>
    </select></div><br>

    <label class="change_field">Expression</label><div class="change_textarea"><input name="change_expression" class="change_textarea" type="TextArea" value="<%=change_pinger_expression%>" /></div><br>
    <div style="float: right;">
    <input type='button' value='<%:Save%>' class='pinger_button' onclick="pinger_settings_commit('<%=pinger_for_change%>');" />
    &nbsp;
    <input type='button' value='<%:Close%>' class='pinger_button' onclick="pinger_settings_hide();" />
    </div>
    <input type="hidden" id="pinger_for_change_commit" name="pinger_for_change_commit" value="0" />
</form>
</div></div>
    <script>pinger_settings_unhide();</script>

<%  end %>
<script>window.setInterval(rule_refresh.bind(), 5000);</script>
<%+footer%>

